<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.strawpoll"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    
    <permission android:name="com.android.strawpoll.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.android.strawpool.permision.C2D_MESSAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.android.strawpoll.MainMenu_ListView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.strawpoll.ViewListOfPolls"
            android:label="@string/view_polls_activity_title" >
            <intent-filter>

            </intent-filter>
        </activity>
        <activity
            android:name="com.android.strawpoll.ViewPoll"
            android:label="@string/view_poll">
            <intent-filter>

            </intent-filter>
            </activity>
        <activity android:name=".ContactsMenu"
            android:label="Contacts">

            </activity>
        <activity android:name=".OpenPoll"
            android:label="[Poll Title]">

            </activity>
        <activity android:name=".SettingsMenu"
            android:label="Settings">

            </activity>
        <meta-data android:name="com.google.android.gms.version"
             android:value="@integer/google_play_services_version"/>

        <receiver android:name=".GcmBroadcastReceiver"
            android:permission="com.android.strawpoll.c2dm.permission.SEND">

            <intent-filter>
                <action android:name="com.android.strawpoll.c2dm.intent.RECEIVE" />
                <category android:name="com.android.gcm"/>
            </intent-filter>

        </receiver>

    </application>

</manifest>
